.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    height: 600px;
    margin-bottom: 50px;
}
.about-details h2{
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(0, 168, 146);
}
.about-details{
    margin-left: 20px;
}
.about-details p{
    line-height: 30px;
    font-size: 18px;
}
.about_image img{
    width: 550px;
    border-radius: 10px;
}